{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Fist page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vero eius ipsa ut qui voluptatibus rem. Autem similique fugiat, dicta accusamus aliquid facilis possimus saepe inventore pariatur minus eius ab?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/code.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}